.title{
    -fx-background-color: #ECAC00;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: 900;
    -fx-padding: 10px;
    -fx-font-size: 18pt;
}

.backgroundMainPanel {
	-fx-background-color: #002144;
}

.border{
	-fx-border-color: #ECAC00;
	-fx-border-width: 2px;
	-fx-background-color: #FFFFFF;
}
